<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>Cloudruid grocery store</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="/css/groceries.css">
</head>
<body>

	<div id="productTable">
		<table id="products">
			<tr>
				<th>Product</th>
				<th>Price</th>
				<th>Remove product</th>
			</tr>

			<tr th:each="prod : ${products}">
				<td th:text="${prod.name}"></td>
				<td id="pricetag">
					<span th:if="${#numbers.formatDecimal(prod.price, 1, 'COMMA', 2, 'POINT')} &lt; 1" th:text="${#numbers.formatDecimal(prod.price, 1, 'COMMA', 2, 'POINT')} + ' c'"></span>
					<span th:unless="${#numbers.formatDecimal(prod.price, 1, 'COMMA', 2, 'POINT')} &lt; 1" th:text="${#numbers.formatDecimal(prod.price, 1, 'COMMA', 2, 'POINT')} + ' aws'"></span>
				</td>
				<td id="deleteprod">
					<form th:action="@{'/products/delete/'+${prod.id}}" method="post">
						<input type="submit" id="deleteProduct" value="+">
					</form>
				</td>
			</tr>
		</table>
	</div>

	<div id="addProduct">
		<form method="POST" th:action="@{/products/add}" th:object="${product}">
			
			<label for="pname">Product name: </label> 
			<input th:field="*{name}" type="text" id="pname" placeholder="banana"><br> 
			
			<label for="price">Price (in decimal): </label>
			<input th:field="*{price}" type="text" id="price" placeholder="1.45 (decimal)"> <br> <br>
			<input type="submit" value="Add product">
		</form>
	</div>


	<div id="specialOffers">
		<table id="offers">
			<tr>
				<th>Offers</th>
				<th>Products included</th>
			</tr>
			<tr>
				<td>2 for 3</td>
				<td>
					<span th:if="${#lists.isEmpty(twoForThree)}">No products in this offer !</span> 
					<span th:each="prod : ${twoForThree}" th:text="${prod.name} +', '"></span>
			    </td>
			</tr>
			<tr>
				<td>buy 1 get 1 half price</td>
				<td>
					<span th:if="${#lists.isEmpty(oneForOne)}">No products in this offer !</span> 
					<span th:each="prod : ${oneForOne}" th:text="${prod.name} +', '"></span></td>
			</tr>

		</table>
	</div>

	<div id="editTwoForThree">
		<h4 id="offer2for3">Edit 2:3 offer</h4>
		
		<form th:object="${product}" th:action="@{'/products/addoffer/twoforthree/{product}' + ${product.name}}" method="post">
			
			<label for="twoforthreeAdd">Choose a product to add</label> 
			<select th:name="product" id="product">
				<option th:if="${#lists.isEmpty(noffer)}">No products available</option>
				<option th:each="prod : ${noffer}" th:text="${prod.name}"></option>
			</select> <input type="submit" value="Add product">
		
		</form>
		
		</br>
		
		<form th:object="${product}" th:action="@{'/products/removeoffer/' + ${product.name}}" method="post">
			<label for="twoforthree">Choose a product to remove</label> 
			
			<select th:name="product" id="product">
				<option th:if="${#lists.isEmpty(twoForThree)}">Empty offer</option>
				<option th:each="prod : ${twoForThree}" th:text="${prod.name}"></option>
			</select> 
			<input type="submit" value="Remove">
		
		</form>
	
	
	</div>
	
		<div id="editOneForOne">
		<h4 id="offer2for3">Edit buy 1 get 1 half price offer</h4>
		
		<form th:object="${product}" th:action="@{'/products/addoffer/oneforhalf/{product}'+${product.name}}" method="post">
			<label for="oneForOne">Choose a product to add</label> 
			
			<select th:name="product" id="product">
				<option th:if="${#lists.isEmpty(noffer)}">No products available</option>
				<option th:each="prod : ${noffer}" th:text="${prod.name}"></option>
			</select> 
			<input type="submit" value="Add product">
		
		</form>
		</br>
		
		<form th:object="${product}" th:action="@{'/products/removeoffer/{product}' + ${product.name}}" method="post">
			<label for="oneForOne">Choose a product to remove</label> 
			
			<select th:name="product" id="product">
				<option th:if="${#lists.isEmpty(oneForOne)}">Empty offer</option>
				<option th:each="prod : ${oneForOne}" th:text="${prod.name}"></option>
			</select> 
			<input type="submit" value="Remove">
		
		</form>
	
	</div>

	<div id="getBill">
	<form th:action="@{/products/checkout}" method="post">
		<h3> Please type your order:</h3>
			<input type="text" th:name= "checkout" id="checkout" placeholder="banana,apple,tomato (separated with commas)"> 
			<input type="submit" value="Checkout">
			</form>
	</div>
</body>
</html>